<h1>学習記録一覧ページ</h1>

<%= form_with url: study_records_path, method: :get do %>
  <%= select_tag :tag_id,
    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
    {
      prompt: 'タグで絞り込み', # 何も選択していないと表示される値
      onchange: 'submit(this.form)' # タグを選択するとフォームが送信される。
    } %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>学習内容</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @study_records.each do |study_record| %>
    <tr>
      <td><%= study_record.name %></td>
      <td><%= study_record.content %></td>
      <td><%= link_to '詳細', study_record_path(study_record) %></td>
      <td><%= link_to '編集', edit_study_record_path(study_record) %></td>
      <td><%= link_to '削除', study_record_path(study_record), data: { turbo_method: :delete, turbo_confirm: '本当に削除してもよろしいですか？' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
